pre {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid black;
}

pre.show {
  background-color: #ccc;
}

.row {
  display: flex;
  direction: row;
  justify-content: center;
  align-content: center;
}

.row:nth-child(3n) {
  border-bottom: 2px solid black;
}

.row > pre:nth-child(3n+1){
  border-left: none;
}



.row pre:first-child {
  border-left: 2px solid black;
}

.row pre:nth-child(3n) {
  border-right: 2px solid black;
}

.row > pre {
  border-left: none;
  border-bottom: none;
}

.row:nth-child(1) {
  border-top: 2px solid black;
}
.row:nth-child(1) > pre {
  border-top: none;
}

.row:nth-child(3n+1) > pre {
  border-top: none;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board button {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

.container {
  margin-top: 17px;
}
